<!DOCTYPE html>
<html lang="pt-br">
  <%- include('components/head') %>
  <body>
    <%- include('components/header') %>
    <main>
      <h1>Contato</h1>
      <div class="download">
        <a href="/files/datacenter-01.png" download>Baixar pdf do Vestibular</a>
      </div>
      <div class="principal">
        <div class="content-livros">
          <a href="#">
            <div class="quadrado">livro</div>
            <div class="ver-mais"><span>Ver mais</span></div>
          </a>
        </div>
      </div>
    </main>
    <%- include('components/footer') %>
  </body>
</html>
