<h1 style="text-align: center">First Page</h1>
<p>
  <img
    src="1724293939253-432725387_dubstep.jpg"
    alt=""
    width="303"
    height="189"
  />
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus viverra
  dictum tristique. Morbi condimentum euismod augue nec fringilla.
  <strong>In hac habitasse platea dictumst.</strong> Aenean tristique ligula in
  ullamcorper volutpat. Morbi accumsan quis lacus vitae ornare. Nullam id ligula
  facilisis, interdum felis nec, porttitor dolor. Cras a blandit odio.
  <em>Phasellus quis lacus eleifend, dictum mauris non, eleifend nibh.</em>
  Donec volutpat vitae sem eu hendrerit. Vivamus felis orci, vulputate sit amet
  turpis eget, varius dictum massa.
  <span style="text-decoration: underline"
    ><strong>Morbi eu risus commodo</strong></span
  >, imperdiet tortor euismod, rutrum purus.
</p>
<p>
  Cras eu tincidunt nisl, nec luctus nunc. Maecenas vitae ornare nunc, feugiat
  laoreet ex. In porta tellus at semper hendrerit. Vestibulum iaculis elit ut
  nibh tempus tempus. Praesent vitae placerat tellus, cursus molestie nisi. Ut
  vitae placerat lorem.
  <span style="color: #e03e2d"
    >Etiam maximus bibendum mauris et elementum.</span
  >
</p>
<p>
  <span style="background-color: #236fa1"
    >Mauris semper ipsum sit amet sapien laoreet maximus.</span
  >
  Nullam commodo urna nec nisl scelerisque, nec volutpat neque ultricies.
  Curabitur ut odio at arcu molestie lobortis finibus vitae risus. Aenean at
  lorem ac nisi placerat aliquet facilisis non libero. Maecenas lacinia ut nulla
  ac semper. Nulla pellentesque, mi vitae consectetur tempor, ex lorem varius
  libero, vel semper libero quam et ex. Morbi nec sagittis felis. In convallis
  dui nulla, et mattis nisi lacinia sed. Curabitur placerat nisl vitae libero
  tempus, vitae gravida risus malesuada. Vestibulum faucibus leo nulla, sit amet
  aliquam velit facilisis ut. Pellentesque convallis vel libero nec scelerisque.
  Mauris id ullamcorper magna. Fusce lectus nisi, pharetra sed vehicula id,
  aliquet eu nisl.
</p>
