<!DOCTYPE html>
<html lang="pt-br">
  <%- include('components/head') %>
  <body>
    <%- include('components/header') %>
    <main>
      <section>
        <div class="title-quem-somos">
          <h1>Produtos</h1>
        </div>
        <div class="desc-quem-somos">
          <h2>Missão</h2>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam,
            sunt doloremque? Blanditiis, incidunt harum? Libero exercitationem
            porro veniam ipsam facere adipisci cumque dicta voluptas. Culpa
            corporis hic nulla minima iusto!
          </p>
          <h2>Visão</h2>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error non
            eaque rem accusamus. Deleniti voluptatum veniam dignissimos minus
            tempore dicta omnis sapiente nulla itaque cum, quibusdam similique.
            Velit, illum maiores!
          </p>
          <h2>Valores</h2>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error non
            eaque rem accusamus. Deleniti voluptatum veniam dignissimos minus
            tempore dicta omnis sapiente nulla itaque cum, quibusdam similique.
            Velit, illum maiores!
          </p>
        </div>
      </section>
    </main>
    <%- include('components/footer') %>
  </body>
</html>
