<header class="header-home">
  <div class="img-logo">
    <picture>
      <img src="/img/dubstep.png" alt="" />
    </picture>
    <!-- <h1>Logo</h1> -->
  </div>
  <div class="container">
    <nav class="main-menu">
      <ul>
        <li><a href="/">Home</a></li>
        <!-- <li><a href="/contato">Contato</a></li>
        <li>
          <a href="/produtos">Produtos</a>
          <ul>
            <li><a href="#">Produto 01</a></li>
            <li><a href="#">Produto 01</a></li>
            <li><a href="#">Produto 01</a></li>
            <li><a href="#">Produto 01</a></li>
          </ul>
        </li> -->
        <li><a href="/validacpf">CPF</a></li>
        <li><a href="/checkCEP">CEP</a></li>
        <li><a href="/telefone">Phone</a></li>
        <li><a href="/uploadImages">Upload</a></li>
        <li><a href="/editableHtml">Editable</a></li>

        <% if (locals.session.logged) { %>

        <li><a href="/profile">Profile</a></li>
        <li><a href="/logout">Logout</a></li>

        <% } else { %>

        <li><a href="/login">Login</a></li>
        <li><a href="/register">Cadastro</a></li>
        <li><a href="/loginRegister">Login / Cadastro</a></li>

        <% } %>
      </ul>
      <!-- <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#section-two">Home</a></li>
        <li><a href="#section-three">Home</a></li>
        <li><a href="#section-four">Home</a></li>
      </ul> -->
    </nav>
    <!-- <div class="search">
      <form>
        <input type="search" name="pesquisa" placeholder="Pesquisar" />
        <button><i class="bx bx-search-alt-2"></i></button>
      </form>
    </div> -->
  </div>
</header>
