<div class="container-header-admin">
  <div class="header-admin">
    <div class="img-logo">
      <picture>
        <img src="/img/dubstep.png" alt="" />
      </picture>
    </div>
    <nav class="main-menu-admin" id="menu-admin">
      <ul>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/pages">Paginas</a></li>
        <li><a href="/aulaGetPaginas">Paginas Prof</a></li>
        <li><a href="/position">Posição</a></li>
        <li><a href="/logoutAdmin">Sair</a></li>
      </ul>
    </nav>
  </div>
</div>
